<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
	<style>
		body {
			background-color: #9E9E9E;
			color: white;
			text-align: center;
		}
	
		h1 {
			font-size: 2.5em;
		}
	
		table {
			margin: 0 auto;
			border-collapse: collapse;
			width: 50%;
		}
	
		th {
			background-color: #673AB7;
			padding: 10px;
		}
	</style>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
